@import 'styles/variables.scss';

/**
  States: name, border-color, background-color, color, hover-border-color.
*/
$input-colors: (
  (
    'primary',
    $color-grey-100,
    // $color-grey-25,
    $color-white,
    $color-grey-700,
    $color-grey-200
  ),
  (
    'success',
    $color-green-300,
    $color-green-50,
    $color-green-700,
    $color-green-400
  ),
  (
    'warning',
    $color-orange-300,
    $color-orange-50,
    $color-orange-700,
    $color-orange-400
  ),
  (
    'error',
    $color-red-300,
    $color-red-50,
    $color-red-700,
    $color-red-400
  ),
  // (
  //   'light',
  //   $color-grey-100,
  //   $color-white,
  //   $color-grey-700,
  //   $color-grey-400
  // )
);

/**
   Sizes: name, line-height, padding-vertical, padding-horizontal, font-size.
*/
$sizes: (
  ('lg', spacing(6), spacing(3), spacing(4), $font-size-body2),
  ('md', spacing(6), spacing(2), spacing(4), $font-size-body2),
  ('sm', spacing(4), spacing(2), spacing(2), $font-size-body2),
  ('xs', spacing(3), spacing(1.5), spacing(2), $font-size-tiny)
);

$input-transition: all 0.2s ease;
$input-transition-property: background-color, color;

.root {
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  border-radius: $radius-regular;
  border: 1px solid $color-grey-100;
  font-size: $font-size-body2;

  transition: $input-transition;
  transition-property: $input-transition-property;

  & > .input::placeholder {
    color: $color-grey-500;
    transition: color 0.1s ease;
  }

  & > .input:hover::placeholder {
    color: $color-grey-500;
  }
}

@each $name, $line-height, $padding-vertical, $padding-horizontal, $font-size in $sizes {
  .size-#{$name} {
    padding: $padding-vertical $padding-horizontal;
    line-height: $line-height;
    font-size: $font-size !important;
  }
}

@each $name, $br-color, $bg-color, $text-color, $hover-br-color in $input-colors {
  .color-#{$name}:not(.disabled) {
    background-color: $bg-color;
    color: $text-color;
    border-color: $br-color;

    &:hover,
    &:focus {
      border-color: $hover-br-color;
    }
    .adornment svg {
      color: $text-color;
    }
  }
}

.disabled {
  background: $color-grey-50;
  border-color: $color-grey-50;
  color: $color-grey-300;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  &.disabled {
    pointer-events: none;
  }
}

.has-before {
  padding-left: 0;
}
.has-after {
  padding-right: 0;
}
