@import 'styles/variables.scss';

/**
   Sizes: name, padding-vertical, padding-horizontal.
*/
$sizes: (('lg', 3, 4), ('md', 2, 4), ('sm', 2, 2), ('xs', 1.5, 2));

/**
  name, border-color, background-color, color, hover-border-color.
*/
$colors: (
  ('primary', $color-grey-100, $color-white, $color-default, $color-grey-200),
  (
    'success',
    $color-green-300,
    $color-green-50,
    $color-green-700,
    $color-green-400
  ),
  (
    'warning',
    $color-orange-300,
    $color-orange-50,
    $color-orange-700,
    $color-orange-400
  ),
  ('error', $color-red-300, $color-red-50, $color-red-700, $color-red-400)
);

@each $name, $border-color, $background-color, $text-color,
  $hover-background-color in $colors
{
  .color-#{$name}:not(.disabled) {
    background-color: $background-color;
    color: $text-color;
    border-color: $border-color;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      border-color: $hover-background-color;
    }
    .adornment svg {
      color: $text-color;
    }
  }
}

.select {
  line-height: spacing(4.5);
  width: 100%;
  cursor: pointer;
}

@each $name, $vertical, $horizontal in $sizes {
  .select-size-#{$name} {
    padding: spacing($vertical) spacing($horizontal);
    padding-right: 0;
    line-height: 1.29;
  }
}

.disabled {
  pointer-events: none;
}
.placeholder {
  color: $color-grey-200;
  transition: color 0.1s ease;
  &:hover {
    color: $color-grey-700;
  }
}

.icon {
  fill: $color-grey-500;
}

/**
  States: name, icon size.
*/
$icon-sizes: (('lg', 6), ('md', 6), ('sm', 4), ('xs', 3));
@each $name, $icon-size in $icon-sizes {
  .addon-size-#{$name} {
    .icon {
      width: spacing($icon-size);
      height: spacing($icon-size);
    }
  }
}

$label-sizes: (
  ('lg', $font-size-body2, spacing(6)),
  ('md', $font-size-body2, spacing(6)),
  ('sm', $font-size-body2, spacing(4)),
  ('xs', $font-size-tiny, spacing(3))
);
@each $name, $size, $line-height in $label-sizes {
  .label-size-#{$name} {
    font-size: $size;
    line-height: $line-height;
  }
}

.input.is-open {
  background-color: $color-white;
}

.input:not(.is-open) {
  .label-text {
    color: $color-grey-500;
  }
}
