@import 'styles/variables.scss';

.menuItem {
  cursor: pointer;

  &:not(.disabled):hover {
    background-color: $color-grey-25;
  }

  + * .menuItem:not(:hover):not(.disabled):not(.activated) {
    color: $color-grey-500;
  }
}
