@import 'styles/variables.scss';

.listItemText {
  font-size: 1.4rem;
  width: 100%;
}

.inset {
  padding-left: 4rem;
}

$font-sizes: (
  ('lg', $font-size-body2),
  ('md', $font-size-body2),
  ('sm', $font-size-body2),
  ('xs', $font-size-tiny)
);
@each $name, $size in $font-sizes {
  .text-size-#{$name} {
    font-size: $size;
    margin-right: 0;
  }
}
