@import 'styles/variables.scss';

/*
  values: name, padding-bottom.
*/
$ratios: (
  ('circle', 100%),
  ('1x1', 100%),
  ('9x16', 16/9 * 100%),
  ('16x9', 56.25%),
  ('4x3', 75%)
);

.aspectRatio {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    pointer-events: none;
    height: 0;
  }

  @each $name, $padding-bottom in $ratios {
    &.ratio-#{$name}::before {
      padding-bottom: $padding-bottom;
    }
  }

  &.ratio-circle {
    border-radius: 50%;
  }
}
