@import 'styles/variables.scss';

.swiper {
  overflow: hidden;

  &.has-pagination-bullet {
    padding-bottom: 40px;
  }

  :global {
    @import 'swiper/swiper.scss';
    @import 'swiper/components/pagination/pagination.scss';
    @import 'swiper/components/navigation/navigation.scss';
    @import 'swiper/components/lazy/lazy.scss';

    .swiper-container {
      overflow: unset;
    }

    // .swiper-slide {
    //   text-align: center;
    //   display: -webkit-box;
    //   display: -ms-flexbox;
    //   display: -webkit-flex;
    //   display: flex;
    //   -webkit-box-pack: center;
    //   -ms-flex-pack: center;
    //   -webkit-justify-content: center;
    //   justify-content: center;
    //   -webkit-box-align: center;
    //   -ms-flex-align: center;
    //   -webkit-align-items: center;
    //   align-items: center;
    // }

    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: -32px;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 0 spacing(4);
      cursor: pointer;
    }

    .swiper-pagination-bullet-active {
      width: 32px;
      height: 12px;
      border-radius: 8px;
      background-color: $color-primary;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      content: '';
    }
  }
}
