@import 'styles/variables.scss';

$transition: all 0.2s ease;

.wrapper {
  position: fixed;
  top: 8rem;
  right: 2rem;
  z-index: 9999;
  padding: 0 spacing(6);
}

.toast {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: spacing(2) spacing(4);
  width: 100%;
  border: 1px solid $color-primary;
  border-radius: radius(1);
  transition: $transition;
  background: $color-primary;
  color: $color-white;
  box-shadow: $box-shadow-lv-2;
}

.content {
  flex: 1 1 auto;
  color: $color-white;
}
