@import 'styles/variables.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $backdrop-z-index;
}

.grey {
  background-color: rgba($color-black, 0.8);
}
