@import 'styles/variables.scss';

.definedRangesWrapper {
  font-size: $font-size-caption;
  width: 16rem;
  border-right: solid 0.1rem $color-blue-25;
  background: $color-white;

  .staticRangeSelected {
    background: $color-primary;

    .staticRangeLabel {
      color: $color-white;
    }
  }
}

.staticRanges {
  display: flex;
  flex-direction: column;
}

.staticRange {
  border: 0;
  cursor: pointer;
  display: block;
  outline: 0;
  border-bottom: 0.1rem solid $color-blue-25;
  padding: 0;
  background: $color-white;
  font-size: inherit;
  height: 4rem;

  &:hover,
  &:focus {
    .staticRangeLabel {
      background: $color-grey-25;
      color: $color-grey-700;
    }
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.staticRangeLabel {
  display: block;
  outline: 0;
  padding: 1.2rem spacing(4);
  text-align: left;
  color: $color-grey-700;
  height: 100%;
}

.inputRanges {
  padding: 0 spacing(4);
}

.inputRange {
  display: flex;
  align-items: center;
  margin-top: spacing(4);
  color: $color-grey-700;
}

.inputRangeInput {
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  border-radius: radius(1);
  text-align: center;
  border: solid 0.1rem $color-grey-100;
  margin-right: spacing(2);
  color: $color-grey-500;
  background-color: $color-grey-25;

  &:focus,
  &:hover {
    border-color: rgb(180, 191, 196);
    outline: 0;
    color: #333;
  }

  &:focus {
    background-color: $color-white;
  }
}
