@import 'styles/variables.scss';

$spacings: 12;

$spacing-keys: (
  'margin',
  'margin-top',
  'margin-right',
  'margin-bottom',
  'margin-left',
  'padding',
  'padding-top',
  'padding-right',
  'padding-bottom',
  'padding-left'
);

@mixin box-spacing($breakpoint, $key, $value) {
  $themeSpacing: $spacing * $value;

  @if $breakpoint == false {
    .spacing-#{$key}-#{$value} {
      #{$key}: $themeSpacing;
    }
  } @else {
    .spacing-#{$breakpoint}-#{$key}-#{$value} {
      #{$key}: $themeSpacing;
    }
  }
}

@for $spacing from 1 through $spacings {
  @each $key in $spacing-keys {
    @include box-spacing(false, $key, $spacing);
  }
}

@each $breakpoint, $value in $grid-breakpoints {
  @include tpl-media-breakpoint-up($breakpoint, $grid-breakpoints) {
    @each $key in $spacing-keys {
      @for $spacing from 1 through $spacings {
        @include box-spacing($breakpoint, $key, $spacing);
      }
    }
  }
}
